<ara class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <br />
            <h2>FESTİVALE KATILACAK ŞARKICILARIMIZIN TAM LİSTESİNİ BURADA BULABİLİRSİNİZ</h2>

            <ol>
                <li>  ENDER BALKİR</li>
                <li>  MURAT BOZ</li>
                <li>  YILDIZ TİLBE</li>
                <li>  HAVVA ÖĞÜT</li>
                <li>  SİBEL KARATAŞ</li>
                <li>  NURETTİN BAY</li>
            </ol>
            <br /><br />

            <a href="#about" class="btn btn-primary btn-xl page-scroll">FESTİVAL HAKKINDA DAHA FAZLA BİLGİ</a>
            <br /><br /><br /><br />
        </div>
    </div>
</ara>