<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <hr class="light">
                <p class="text-faded">

                    Festivalde Türk halk müziği solisti Zara'yı konuk edeceklerini dile getiren OĞUZHAN, festival programıyla ilgili şu bilgileri verdi:

                    "Festivalde buzağı yarışması, karakucak güreşleri ve sünnet programı etkinlikleri yapılacak. Festival süresince düzenlenecek konserlerde
                    Zara'nın yanı sıra pop müziği sanatçısı Murat Boz, Türk halk müziği sanatçıları Ender Balkır, Çiğdem Elmas, Pınar Dağdelen ve yöresel 
                    sanatçılarımız sahne alacaklar. Festival alanına 30 metre uzunluğunda bal standı açılarak Zara balının tanıtımı yapılacak.
                    Ayrıca yöresel yemeklerimizin de yer alacağı stant kurulacak."


                </p>
                <h2 class="section-heading">ZARA BAL FESTİVALİ 2021</h2>
            </div>
        </div>
    </div>
</section>
