<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">POPÜLER SANATÇILARIMIZ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div style="display:flex;justify-content:space-around;"class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://tr.wikipedia.org/wiki/Y%C4%B1ld%C4%B1z_Tilbe#:~:text=%C4%B0zmirin%20Konak%20il%C3%A7esine%20ba%C4%9Fl%C4%B1,babas%C4%B1n%C4%B1n%20ad%C4%B1%20ise%20Ali'dir." target="_blank">
                    <img src="img/konusanlar/yildiztilbe.jpg" class="img-responsive" alt="">
                    <h3>YILDIZ TİLBE</h3>
                 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.haberler.com/murat-boz/biyografisi/#:~:text=Murat%20Boz%20(d.%207%20Mart,%C3%9Cniversitesi'nde%20e%C4%9Fitimine%20devam%20etti." target="_blank">
                    <img src="img/konusanlar/muratboz.jpg" class="img-responsive" alt="">
                    <h3>MURAT BOZ</h3>
                
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.milliyet.com.tr/cadde/ender-balkir-kimdir-nereli-ender-balkir-turkuleri-ve-hayati-6496912" target="_blank">
                    <img src="img/konusanlar/enderbalkir.jpg" class="img-responsive" alt="">
                    <h3>ENDER BALKİR</h3>
                  
                </div>
            </div>
           
        </div>
    </div>
</section>
